body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    background-color: #eff5f8;
  }
  
#activate, . {

}

#container{
  display: block;
  margin: 60px auto;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80vw;
  background-color: #f0ead6;
  padding-top: 20px;
}

p {
  display: block;
  margin:auto;
  padding: 7px;
  font-size: 15px;
  text-align: center;
  border: black;
  border-style: solid;
  border-radius: 10px;
  width: 700px;
  cursor: pointer;
}

p:hover {
  background-color: #eff5f8;
}

.time {
  position: absolute;
  top: 50px;
  right: 16px;
  font-size: 15px;
  text-align: right;
}

#countdown {
  flex-direction: row-reverse;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 16px;
  text-align: right;
}

  .container {
    display: block;
    margin: 60px auto;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80vw;
    background-color: #f0ead6;
    padding-top: 20px;
  }

  .start-button {
    display:inline-block;
    width: 10%;
    position: absolute;
    top: 30%;
    right:45%;
    background-color: rgb(15, 15, 14);
    color: gold;
    border-radius: 10%;
    padding: 10px 20px;
    cursor: pointer;
  }

  .start-button:hover {
    background-color: gold;
    color:black;
  }
  
  #next {
    display: non;
    background-color:aquamarine;
    font-weight: 700;
    text-align: center;
    width: 100px;
    height: 30px;
    cursor: pointer;
  }

.hide{
  display: none;
}


.correct {
  background-color: lawngreen;
  color: white;
}

  .incorrections {
    background-color: red;
    color: black;
  }
  
#score {

}

  @media screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }
    
  }