body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    background-color: #79c8f0;
  }
  
.container {
  display: block;
  margin: 60px auto;
  text-align: center;
  font-size: 30px;
  border: 10px solid;
  box-shadow: 0 20px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80vw;
  background-color: #edd78d;
  padding-top: 20px;
}

.start-quiz {
  color: aliceblue;
  background: radial-gradient(circle, black 0%, white 120%);
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  max-width: 255px;
  padding: 20px 52px;
  position: relative;
  top: 405px;
  left: 655px;
}

.start-quiz:active {
  color:rgb(17, 239, 106);
  font-size: 90%;
  box-shadow: 0 0 10px #000 inset; 
}

h3 {
  position: relative;
  right: 45px;
}

p {
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
  background-color: aliceblue;
  height: 80px;
  width: 600px;
  position: relative;
  bottom: 20px;
  left: 300px; 
}

 #next {
    display: none;
    background-color:aquamarine;
    font-weight: 700;
    text-align: center;
    width: 100px;
    height: 30px;
    cursor: pointer;
  }

.correct {
  background-color: lawngreen;
  color: white;
}

  .incorrections {
    background-color: red;
    color: black;
  }
  

  @media screen and (max-width: 768px) {
    body { 
      flex-direction: column;
    }
    
  }